# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# test / coverage reports
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.ruff_cache/

.python-version

# virtualenv
.venv
venv/
ENV/

tmp/
.vscode/
pip-wheel-metadata/
